.unload-page {
    position: relative;
    z-index: 2;

    font-size: 14px;
    line-height: 1.2;
    color: var(--color_blue_gray);

    display: grid;
    gap: 15px;
    grid-template-areas: 
        "title"
        "unload"
        "orders";

    @include start-at(xslg) {
        grid-template-areas: "title unload" "orders unload";
        grid-template-columns: 35% 1fr;
    }

    &__title {
        grid-area: title;
    }

    &__unload {
        grid-area: unload;
        height: fit-content;
    }

    &__orders {
        grid-area: orders;
    }
}